{% extends 'base.html.twig' %}

{% block title %}New Speler{% endblock %}

{% block body %}
    <h1>Meld je nu aan en voer je gegevens in</h1>

    {{ include('spelers/_form2.html.twig') }}


{% endblock %}
